<div
  class="flex flex-col items-center justify-start min-h-screen h-screen pt-4"
>
  <div class="flex flex-row items-end justify-center w-full">
    <div class="flex flex-row items-center justify-start w-10/12">
      <button
        class="btn h-12 w-12 bg-info stroke-info hover:bg-primary btn-sm align-middle content-center text-3xl text-base-100 font-extrabold"
        (click)="navigate()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-start text-center min-h-min max-h-min h-full w-10/12 pt-2"
  >
    <div class="min-h-min h-[95%] w-full bg-neutral rounded-3xl"></div>
    <div
      class="flex flex-row items-center justify-start w-full max-w-full min-h-[30%] overflow-auto"
    >
      <div
        class="min-h-[80%] h-[80%] min-w-[20%] max-w-[20%] bg-neutral mx-1 border-accent border-[1px] rounded-xl flex flex-col items-center justify-evenly py-1"
      >
        <p
          class="text-base-100 font-rajdhani text-lg font-semibold truncate w-[90%]"
        >
          Informações Gerais
        </p>
        <div class="w-full h-[70%] flex flex-row items-center justify-evenly">
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-info font-rajdhani font-semibold">
              {{date}}
            </p>
            <p class="text-info font-rajdhani font-medium">Iniciado em</p>
          </div>
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-secondary font-rajdhani font-semibold">
              {{uptime}}
            </p>
            <p class="text-secondary font-rajdhani font-medium">Horário</p>
          </div>
        </div>
      </div>
      <div
        *ngFor="let protocol of protocol_traffic"
        class="min-h-[80%] h-[80%] min-w-[20%] max-w-[20%] bg-neutral mx-1 border-info border-[1px] rounded-xl flex flex-col items-center justify-evenly py-1"
      >
        <p
          class="text-base-100 font-rajdhani text-lg font-semibold truncate w-[90%]"
        >
          {{ protocol.name }}
        </p>
        <div class="w-full h-[70%] flex flex-row items-center justify-evenly">
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-info font-rajdhani font-semibold">
              {{ protocol.download }}
            </p>
            <p class="text-info font-rajdhani font-medium">Download</p>
          </div>
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-secondary font-rajdhani font-semibold">
              {{ protocol.upload }}
            </p>
            <p class="text-secondary font-rajdhani font-medium">Upload</p>
          </div>
        </div>
      </div>
      <div
        *ngFor="let host of host_traffic"
        class="min-h-[80%] h-[80%] min-w-[20%] max-w-[20%] bg-neutral mx-1 border-secondary border-[1px] rounded-xl flex flex-col items-center justify-evenly py-1"
      >
        <p
          class="text-base-100 font-rajdhani text-lg font-semibold truncate w-[90%]"
        >
          {{ host.name }}
        </p>
        <div class="w-full h-[70%] flex flex-row items-center justify-evenly">
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-info font-rajdhani font-semibold">
              {{ host.download }}
            </p>
            <p class="text-info font-rajdhani font-medium">Download</p>
          </div>
          <div
            class="w-[43%] h-full bg-base-100 bg-opacity-5 rounded-xl flex flex-col justify-evenly items-center"
          >
            <p class="text-secondary font-rajdhani font-semibold">
              {{ host.upload }}
            </p>
            <p class="text-secondary font-rajdhani font-medium">Upload</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
