<div class="flex flex-col items-center justify-start pt-16">
  <div class="flex flex-row items-end justify-center w-full">
    <div class="flex flex-row items-center justify-end w-10/12">
      <button
        class="btn h-12 w-12 bg-info stroke-info hover:bg-accent btn-sm align-middle content-center text-3xl text-base-100 font-extrabold"
        (click) = "addDevice()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="4"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center h-full w-10/12">
    <div *ngFor="let device of devices" class="m-2 flex flex-col w-full h-2/4">
      <h1 class="ml-2 text-base-100 font-semibold text-xl">
        Dispositivo: {{ device.name || device.token }}
      </h1>
      <div class="m-2 flex flex-row">
        <app-card *ngFor="let app of device.apps" [app]="app"></app-card>
      </div>
    </div>
  </div>
</div>
