<div class="flex flex-col items-center justify-start pt-4">
  <div class="flex flex-row items-end justify-center w-full">
    <div class="form-control w-10/12 flex flex-row">
      <button
        class="btn h-10 w-10 border-info bg-neutral stroke-info hover:bg-info btn-sm align-middle content-center text-3xl text-base-100 font-extrabold"
        (click)="navigateToGit()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
          />
        </svg>
      </button>
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-row items-center justify-end w-full input-group"
      >
        <input
          type="text"
          formControlName="deviceId"
          placeholder="ID do Dispositivo"
          class="input input-bordered border-info bg-neutral text-base-100 h-10"
        />
        <button
          type="submit"
          class="btn h-10 w-10 border-info bg-neutral stroke-info hover:bg-info btn-sm align-middle content-center text-3xl text-base-100 font-extrabold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="4"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center h-full w-10/12">
    <div *ngFor="let device of devices" class="m-2 flex flex-col w-full h-2/4">
      <div class="w-full flex justify-start flex-row">
        <h1 class="ml-2 text-base-100 font-semibold text-xl mr-2">
          Dispositivo:
        </h1>
        <app-edit-label
          [placeholder]="device.name || device.token"
          [token]="device.token"
        ></app-edit-label>
      </div>
      <div
        class="m-2 flex flex-row overflow-x-scroll scrollbar-thin scrollbar-thumb-neutral scrollbar-track-rounded-full scrollbar-thumb-rounded-full"
      >
        <app-card-info [download]="'400.00MB'" upload="30.00MB" ></app-card-info>
        <app-card *ngFor="let app of device.apps" [app]="app"></app-card>
      </div>
    </div>
  </div>
</div>
