<div
  class="bg-neutral min-w-[14vw] min-h-[33vh] h-[33vh] w-[14vw] m-1 rounded-[1vw] justify-center items-center text-center flex pt-1 pb-2"
>
  <div class="h-5/6 justify-between items-center flex flex-col w-full">
    <p class="text-accent text-[2vw] font-bold font-rajdhani truncate min-w-[75%] max-w-[75%]">
      {{app.name}}
    </p>
    <div
      class="h-2/6 bg-base-100 bg-opacity-5 w-3/4 rounded-3xl flex flex-col justify-around"
    >
      <p class="text-primary text-xl font-semibold font-rajdhani">Download</p>
      <div class="inline-block">
        <span class="text-primary text-5xl font-semibold font-rajdhani">{{
          formatValue(app.download)
        }}</span>
        <span class="text-primary text-3xl font-bold font-rajdhani">{{
          formatUnit(app.download)
        }}</span>
      </div>
    </div>
    <div
      class="h-2/6 bg-base-100 bg-opacity-5 w-3/4 rounded-3xl flex flex-col justify-around"
    >
      <p class="text-secondary text-xl font-semibold font-rajdhani">Upload</p>
      <div class="inline-block">
        <span class="text-secondary text-5xl font-semibold font-rajdhani">{{
          formatValue(app.upload)
        }}</span>
        <span class="text-secondary text-3xl font-bold font-rajdhani">{{
          formatUnit(app.upload)
        }}</span>
      </div>
    </div>
  </div>
</div>
